<div class="table container">
  <div class="row panel-heading" style="background-color:blanchedalmond; color: blue">
      <div class="col-md-4">Exercise name:</div>
      <div class="col-md-4">Description:</div>
      <div class="col-md-4">Repetitions:</div> 
  </div>
  <div class="row" (click)="onSelect(exercise)" style="cursor: pointer" *ngFor="let exercise of exercises">
      <div class="col-md-4">{{exercise.name}}</div>
      <div class="col-md-4">{{exercise.description}}</div>
      <div class="col-md-4">{{exercise.reps}} <span ><i (click)="delete(exercise)" class="fa fa-trash-o" aria-hidden="true"></i></span></div>     
  </div>
</div>
<button type="button" class="btn btn-success" (click)="addExercise()">Make a new exercise</button>

<app-show-exercise (onAddExercise)="createExercise()" [exercise]="selectedExercise"></app-show-exercise>
