<div class="table container">
    <div class="row panel-heading" style="background-color:blanchedalmond; color: blue">
        <div class="col-md-4">Program name:</div>
        <div class="col-md-4">Category:</div>
        <div class="col-md-4">Exercises:</div> 
    </div>
    <div class="row" *ngFor="let program of programs">
        <div class="col-md-4" (click)="onSelect(program)">{{program.name}}</div>
        <div class="col-md-4">{{program.category}}</div>
        <div class="col-md-4">
          {{program.exercises.length}}
        </div>     
    </div>
  </div>

  <app-show-program [program]="selectedProgram" class="container col-md-6"></app-show-program>