<div class="table container">
    <div class="row panel-heading" style="background-color:blanchedalmond; color: blue">
        <div class="col-md-3">Program name:</div>
        <div class="col-md-3">Category:</div>
        <div class="col-md-3">Number of exercises:</div> 
    </div>
    <div style="cursor: pointer" class="row" *ngFor="let program of programs">
        <div style="font-weight: 700" class="col-md-3" (click)="onSelect(program)">{{program.name}}</div>
        <div class="col-md-3">{{program.category}}</div>
        <div class="col-md-3">
          {{program.exercises.length}} <span ><i (click)="delete(program)" title="Delete program" style="cursor: pointer" class="fa fa-trash-o" aria-hidden="true"></i></span>
        </div>     
    </div>
  </div>

  <button type="button" class="btn btn-success" (click)="addProgram()">Make a new program</button>
  
  <app-show-program (onCreateProgram)="createProgram($event)" (onDeleteExercise)="deleteExerciseFromProgram($event)" (onAddExercise)="addExercise($event)" [program]="selectedProgram" [exercises]="exercises" class="container col-md-6"></app-show-program>