<div *ngIf="program">
  <h2>{{program.name}}</h2>
  <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Exercises
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a *ngFor="let exercise of exercises"  class="dropdown-item" (click)=addExercise(exercise)>{{exercise.name}}</a>
        </div>
  </div>
  <div>
      <label>Name: </label>
      <input [(ngModel)]="program.name" placeholder="name"/>
      <label>Category: </label>
      <input [(ngModel)]="program.category" placeholder="category"/>
      <li *ngFor="let exercise of program.exercises">
          {{exercise.name}} - {{exercise.reps}} * {{exercise.sets}} <i (click)="deleteExercise(exercise)" class="fa fa-trash-o" aria-hidden="true"></i>
      </li>

      <button class="btn btn-secondary" (click)="saveProgram(program)">Save Program</button>
  </div>

</div>
