<div *ngIf="program">
  <h2>{{program.name}} details!</h2>
  <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Exercises
        </button>
        <div *ngFor="let exercise of exercises" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)=addExercise(exercise)>{{exercise.name}}</a>
        </div>
  </div>
  <div>
      <label>name: </label>
      <input [(ngModel)]="program.name" placeholder="name"/>
      <li *ngFor="let exercise of program.exercises">
          {{exercise.name}} - {{exercise.reps}} * {{exercise.sets}} <i (click)="deleteExercise(exercise)" class="fa fa-trash-o" aria-hidden="true"></i>
      </li>

      <button *ngIf="program._id === null" class="btn btn-secondary" (click)="createProgram(program)">Create Program</button>
  </div>

</div>
