<div *ngIf="program">
  <h2>{{program.name}} details!</h2>
  <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Exercises
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a *ngFor="let exercise of exercises"  class="dropdown-item" (click)=addExercise(exercise)>{{exercise.name}}</a>
        </div>
  </div>
  <div>
      <label>name: </label>
      <input [(ngModel)]="program.name" placeholder="name"/>
      <li *ngFor="let exercise of program.exercises">
          {{exercise.name}} - {{exercise.reps}} * {{exercise.sets}}
      </li>
  </div>

</div>
