<div *ngIf="exercise"class="container">
    <h2>{{exercise.name}}</h2>
    <div class="row">
        <label>Name: </label>
        <input [(ngModel)]="exercise.name" placeholder="name"/>       
    </div>
    <div class="row">
        <label>Description:</label>
        <input [(ngModel)]="exercise.description" placeholder="description"/>
    </div>
    <div *ngIf="exercise.isRepetition">
      <div class="row">
          <label>Repetitions:</label>
          <input [(ngModel)]="exercise.reps" placeholder="reps"/>
      </div>
      <div class="row">
          <label>Sets:</label>
          <input [(ngModel)]="exercise.sets" placeholder="sets"/>
      </div>
  </div>
  <div *ngIf="!exercise.isRepetition">
      <div class="row">
          <label>Time:</label>
          <input [(ngModel)]="exercise.time" placeholder="time"/>
      </div>
  </div>
  <div class="row">
      <label>Is Repetitions:</label>
      <input type="checkbox" [(ngModel)]="exercise.isRepetition">
  </div>
    <button class="btn btn-secondary" (click)="saveExercise()">Save exercise</button>
    
  </div>
