<div *ngIf="exercise"class="container">
    <h2>{{exercise.name}} details!</h2>
    <div><label>Id: </label>{{exercise.id}}</div>
    <div class="row">
        <label>Name: </label>
        <input [(ngModel)]="exercise.name" placeholder="name"/>       
    </div>
    <div class="row">
        <label>Description:</label>
        <input [(ngModel)]="exercise.description" placeholder="name"/>
    </div>
    <div class="row">
        <label>Repetitions:</label>
        <input [(ngModel)]="exercise.reps" placeholder="name"/>
    </div>
    <div class="row">
        <label>Sets:</label>
        <input [(ngModel)]="exercise.sets" placeholder="name"/>
    </div>
    <button class="btn btn-secondary" (click)="saveExercise()">Save exercise</button>
    
  </div>
