<div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2>{{(programObservable | async)?.name}}</h2>
      </div>
    </div>
    <hr>
    <div class="row text-center">
      <div class="col-md-4">
        <h3>Name</h3>
      </div>
      <div class="col-md-4">
        <h3>Description</h3>
      </div>
      <div class="col-md-4">
        <h3>Time/reps</h3>
      </div>
    </div>

    <div class="row text-center" *ngFor="let exercise of (programObservable | async)?.exercises">
        <div class="col-md-4">
          <p>{{exercise.name}}</p>
        </div>
        <div class="col-md-4">
          <p>{{exercise.description}}</p>
        </div>
        <div *ngIf="exercise.isRepetition" class="col-md-4">
          <p>{{exercise.sets + " x " + exercise.reps}}</p>
        </div>
        <div *ngIf="!exercise.isRepetition" class="col-md-4">
            <p>{{exercise.time}}</p>
          </div>
      </div>
    </div>
